<section
  id='menu'
  class='menu'
>
  <header>
    Menu
  </header>
  <a
    class='menu-item other-title'
    href='/prompt'
  >
    NEW STUDYSPACE
  </a>
  <a
    class='menu-item other-title'
    href='/signup'
  >
    SIGNUP
  </a>
  <a
    class='menu-item other-title'
    href='/login'
  >
    LOGIN
  </a>
  <a
    class='menu-item other-title'
    href='/logout'
  >
    LOGOUT
  </a>
</section>