<nav>
  <a
    href='/'
  >
    MyStudySpace
  </a>
  <section>
    <a
      class='wide-nav-link'
      href='/prompt'
    >
      Add Studyspace
    </a>
    <a
      class='narrow-nav-link'
      href='/prompt'
    >
      +
    </a>
    <a
      class='wide-nav-link'
      href='/signup'
    >
      Sign Up
    </a>
    <a
      class='narrow-nav-link'
      href='/signup'
    >
      S
    </a>
    <a
      class='wide-nav-link'
      href='/login'
    >
      Login
    </a>
    <a
      class='narrow-nav-link'
      href='/login'
    >
      I
    </a>
    <a
      class='wide-nav-link'
      href='/logout'
    >
      Logout
    </a>
    <a
      class='narrow-nav-link'
      href='/logout'
    >
      X
    </a>
  </section>
</nav>