<nav>
  <a
    href='/'
  >
    MyStudySpace
  </a>
  <a
    class='wide-nav-link'
    href='/studyspaces/new'
  >
    Add new studyspace
  </a>
  <a
    class='narrow-nav-link'
    href='/studyspaces/new'
  >
    +
  </a>
</nav>