<nav>
  <a
    class='title'
    href='/'
  >
    MyStudySpace
  </a>
  <section>
    <a
      class='wide-nav-link other-title'
      href='/prompt'
    >
      NEW STUDYSPACE
    </a>
    <a
      class='wide-nav-link other-title'
      href='/signup'
    >
      SIGNUP
    </a>
    <a
      class='wide-nav-link other-title'
      href='/login'
    >
      LOGIN
    </a>
    <a
      class='wide-nav-link other-title'
      href='/logout'
    >
      LOGOUT
    </a>
  </section>
  <section
    class='narrow'
  >
    <a
      id='menu-icon'
      class='narrow-nav-link'
    >
      X
    </a>
  </section>
</nav>