<nav>
  <a
    class='title'
    href='/'
  >
    MyStudySpace
  </a>
  <section>
    <a
      class='wide-nav-link other-title'
      href='/prompt'
    >
      NEW STUDYSPACE
    </a>
    <a
      class='narrow-nav-link'
      href='/prompt'
    >
      +
    </a>
    <a
      class='wide-nav-link other-title'
      href='/signup'
    >
      SIGNUP
    </a>
    <a
      class='narrow-nav-link'
      href='/signup'
    >
      S
    </a>
    <a
      class='wide-nav-link other-title'
      href='/login'
    >
      LOGIN
    </a>
    <a
      class='narrow-nav-link'
      href='/login'
    >
      I
    </a>
    <a
      class='wide-nav-link other-title'
      href='/logout'
    >
      LOGOUT
    </a>
    <a
      class='narrow-nav-link'
      href='/logout'
    >
      X
    </a>
  </section>
</nav>