<nav>
  <a
    class='title'
    href='/'
  >
    MyStudySpace
  </a>
  <section>
    <a
      class='wide-nav-link other-title'
      href='/prompt'
    >
      NEW STUDYSPACE
    </a>
    <a
      class='wide-nav-link other-title'
      href='/signup'
    >
      SIGNUP
    </a>
    <a
      class='wide-nav-link other-title'
      href='/login'
    >
      LOGIN
    </a>
    <a
      class='wide-nav-link other-title'
      href='/logout'
    >
      LOGOUT
    </a>
  </section>
  <section
    class='narrow'
  >
    <a
      id='menu-icon'
      class='narrow-nav-link'
    >
      <svg
        id='hamburger'
        class='svg'
      >
        <path d='M0 0 L20 0'/>
        <path d='M0 5 L20 5'/>
        <path d='M0 10 L20 10'/>
      </svg>
      <svg
        id='close'
        class='svg hidden'
      >
        <path d='M5 1 L15 10'/>
        <path d='M5 10 L15 1'/>
      </svg>
    </a>
  </section>
  <script
    src='/scripts/pages/narrownavigation.js'
  >
  </script>
</nav>