@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --bleu-de-france: rgb(34, 140, 219);
  --mountain-meadow: rgb(22, 223, 137);
  --dark-slate-gray: rgb(59, 66, 72);
  --ghost-white: rgb(249, 250, 250);
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, 
body {
  margin: 0;
  height: 100%;
  min-height: 480px;
  min-width: 320px;
} 

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto;
  height: 100%;
}

nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bleu-de-france);
  color: var(--ghost-white);
}

nav section {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 1rem;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  width: 50vw;
  padding: 1rem;
  color: var(--ghost-white);
  background-color: var(--dark-slate-gray);
}

.show-menu {
  animation: 
    fadein 300ms ease-in 1 forwards normal,
    menuslideinfromright 300ms ease-in 1 forwards normal;
}

.hide-menu {
  animation: 
    fadeout 300ms ease-in 1 forwards normal,
    menuslideouttoright 300ms ease-in 1 forwards normal;
}

.menu-item {
  margin-bottom: 1rem;
}

.narrow {
  display: block;
  position: relative;
  z-index: 2;
  width: 20px;
  height: 10px;
  transform: scale(1);
  transition: transform ease-in-out 300ms;
}

.narrow:hover,
.narrow:focus {
  transform: scale(1.2);
}

.title {
  letter-spacing: 5px;
  transition: color 300ms ease-in;
}

.other-title {
  transition: color 300ms ease-in;
}

.title:hover,
.title:focus {
  color: var(--mountain-meadow);
}

.other-title:hover,
.other-title:focus {
  color: var(--mountain-meadow);
}

.wide-nav-link {
  display: none;
}

.narrow-nav-link {
  display: block;
  position: relative;
}

.svg {
  position: absolute;
  width: 20px;
  height: 20px;
}

.hidden {
  display: none;
}

path {
  stroke: var(--ghost-white);
  stroke-width: 2px;
  stroke-linecap: round;
}

@media screen and (min-width: 650px) {
  .wide-nav-link {
    display: block;
  }
}

@media screen and (min-width: 650px) {
  .narrow {
    display: none;
  }

  .narrow-nav-link {
    display: none;
  }
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.button-normal {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: var(--mountain-meadow);
  color: var(--ghost-white);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.button-normal:hover:enabled {
  top: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button-normal:active:enabled {
  top: 4px;
  box-shadow: none;
}

.button-disabled {
  top: 0px;
  opacity: 0.5;
  box-shadow: none;
  cursor: default;
}

.text-button-normal {
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
  outline: none;
  color: var(--bleu-de-france);
  transition: color 300ms ease-in;
}

.text-button-normal:hover:enabled,
.text-button-normal:focus:enabled {
  color: var(--mountain-meadow);
}

.input-normal {
  outline: none;
  color: var(--dark-slate-gray);
  background-color: var(--ghost-white);
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.info-window input[type='text'] {
  display: none;
}

.info-window input[type='submit'] {
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  transition: color 300ms ease-in;
  outline: none;
}

.info-window input[type='submit']:hover,
.info-window input[type='submit']:focus {
  color: var(--mountain-meadow);  
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes messageslidedown {
  0% {
    top: 32px;
  }

  100% {
    top: 50px;
  }
}

@keyframes menuslideinfromright {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes menuslideouttoright {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.message-section {
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 0;
  width: 100%;
  opacity: 0;
  padding: 1rem;
  color: var(--ghost-white);
  animation: 
    fadein 300ms ease-in 1 forwards normal, 
    messageslidedown 300ms ease-in 1 forwards normal;
}

.success-message {
  margin: 0;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--mountain-meadow);
}

.error-message {
  margin: 0;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(201, 23, 23);
}

@keyframes slideup {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 0px;
  }
}

.lat {
  display: none;
}

.lng {
  display: none;
}