.container {
  padding: 1rem;
}

ul {
  display: grid;
}

li {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 2px;
}

img {
  width: 100%;
  height: auto;
}

.item-container {
  text-align: center;
  padding: 0.5rem 0;
}

.item-container p {
  margin-top: 0;
}

.item-container a {
  display: inline-block;
}