.container {
  padding: 1rem;
}

li {
  border: 0.5px solid black;
  border-radius: 2px;
}

@media screen and (min-width: 0px) {
  li {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 460px) {
  li {
    display: inline-block;
    width: 40%;
    height: auto;
  }
}

@media screen and (min-width: 750px) {
  li {
    width: 30%;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  li {
    width: 20%;
    height: auto;
  }
}

@media screen and (min-width: 2160px) {
  li {
    width: 10%;
    height: auto;
  }
}

img {
  width: 100%;
  height: auto;
}

.item-container {
  text-align: center;
  padding: 0.5rem 0;
}

.item-container p {
  margin-top: 0;
}

.item-container a {
  display: inline-block;
}