main {
  grid-template-rows: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: auto;
  margin: auto;
  padding: 1rem;
}

h2 {
  margin-top: 0;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.message-section {
  opacity: 0;
  animation: fade-in 300ms ease-in 0 1 normal forwards;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  align-self: stretch;
}

input[type='text'],
input[type='password'] {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  input[type='text'],
  input[type='password'] {
    width: 50vw;
  }
}