main {
  grid-template-rows: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: auto;
  margin: auto;
  padding: 1rem;
}

.message-section {
  animation-name: fadein;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

h2 {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  align-self: stretch;
}

input[type='text'],
input[type='password'] {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  input[type='text'],
  input[type='password'] {
    width: 50vw;
  }
}