main {
  grid-template-rows: auto;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: auto;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--ghost-white);
  color: var(--dark-gray-slate);
}

@media all and (min-width: 673px) {
  .container {
    width: 50vw;
  }
}

@media all and (min-width: 1024px) {
  .container {
    width: 40vw;
  }
}

h2 {
  margin-top: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  align-self: stretch;
}

input[type='text'],
input[type='password'] {
  margin-bottom: 1rem;
}