.shift-down {
  top: 50px;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.message-section {
  opacity: 0;
  animation: fade-in 300ms ease-in 0 1 normal forwards;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}