.shift-down {
  top: 50px;
}

.message-section {
  animation-name: fadein;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}