.container {
  padding: 1rem;
}

@media screen and (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-column-gap: 2rem;
    grid-template-rows: auto;
  }
}


h1 {
  margin: 0;
  text-align: left;
}

.studyspace-container h1 {
  margin: 1rem 0 1rem 0;
}

@media screen and (min-width: 700px) {
  .studyspace-container h1 {
    margin: 0 0 1rem 0;
  }
}

ul {
  display: inline-block;
}

li {
  border: 1px solid black;
}

li a {
  display: block;
  padding: 1rem;
}

.current {
  background-color: black;
  color: white;
}

.content-container {
  border: 1px solid black;
}

@media screen and (min-width: 700px) {
  h2 {
    margin-top: 0px;
  }
}

.info-container {
  padding: 0 1rem;
}

@media screen and (min-width: 500px) {
  .info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 500px) {
  .right-container {
    text-align: right;
  }
}

.comments-section {
  margin-top: 2rem;
}

.new-comment-container {
  padding: 1rem;
  border: 1px solid black;
  outline: none;
}

.form-container {
  margin-top: 1rem;
}

.hide-form-container {
  display: none;
}

.form-container form {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.5rem;
  grid-template-rows: repeat(2, auto);
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.comments-container {
  border: solid black;
  outline: none;
  border-width: 0px 0.5px 0.5px 0.5px;
}

.single-comment-container {
  padding: 1rem;
  border: solid black;
  border-width: 0.5px 0.5px 0.25px 0.25px;
}

.single-comment-container h3 {
  margin: 0 0 0.5rem 0;
}

.single-comment-container p {
  margin-top: 0;
}

.comment-buttons-container {
  display: flex;
}

.remove-bottom-margin {
  margin: 0;
}

.edit-button {
  margin-right: 0.5rem;
}