<% include ../partials/header %>
  <link type='text/css' rel='stylesheet' href='/stylesheets/pages/editcomment.css'>
</head>
<body>
  <section
    class='spinner'
  >
    <section
      class='logo'
    >
      MyStudySpace
    </section>
  </section>
  <main>
    <% include ../partials/navigation %>
    <% include ../partials/menu %>
    <section 
      class='container'
    >
      <h2>
        Edit Comment
      </h2>
      <form
        action='/studyspaces/<%= studyspaceId %>/comments/<%= commentId %>?_method=PUT'
        method='POST'
      >
        <input 
          class='input-normal'
          name='comment'
          type='text'
          placeholder='Edit comment here...'
          value='<%= comment %>'
        />
        <input 
          class='button-normal'
          type='submit'
          value='Update'
        />
      </form>
    </section> 
  </main>
  <script
    src='/scripts/pages/defaults.js'
  >
  </script>
  <script
    src='/scripts/pages/drawermenu.js'
  >
  </script>
</body>