<% include ../partials/header %>
</head>
<body>
  <main>
    <section 
      class='container'
    >
      <h2>
        Edit Comment
      </h2>
      <form
        action='/studyspaces/<%= studyspaceId %>/comments/<%= commentId %>'
        method='PUT'
      >
        <input 
          type='text'
          value='<%= comment %>'
        />
        <input 
          type='submit'
          value='Update'
        />
      </form>
    </section> 
  </main>
</body>