<% include ../partials/header %>
  <link type="text/css" rel="stylesheet" href="/stylesheets/pages/home.css">
</head>
<body>
  <main>
  <% if (Object.keys(message).length) { %>
    <section
      class='message-section'
    >
      <p
        class='success-message'
      >
        <%= message.success %>
      </p>
    </section>
  <% } %>
    <% include ../partials/navigation %>
    <% include ../partials/menu %>
    <section
      class='content'
    >
      <h2>
        Welcome To MyStudySpace
      </h2>
      <a
        class='button-normal'
        href='/studyspaces'
      >
        View StudySpaces
      </a>
    </section>
  </main>
  <script
    src='/scripts/pages/drawermenu.js'
  >
  </script>
</body>
</html>