<% include ../partials/header %>
  <link type="text/css" rel="stylesheet" href="/stylesheets/pages/index.css">
</head>
<body>
  <main>
  <% if (Object.keys(message).length) { %>
    <section
      class='message-section shift-down'
    >
      <p
        class='success-message'
      >
        <%= message.success %>
      </p>
    </section>
  <% } %>
    <% include ../partials/navigation %>
    <section
      class='content'
    >
      <p>
        Welcome to MyStudySpace
      </p>
      <a
        class='button-normal'
        href='/studyspaces'
      >
        View StudySpaces
      </a>
    </section>
  </main>
  <script
    async
    defer
    src='/scripts/pages/auth.js'
  >
  </script>
</body>
</html>