<% include ../partials/header %>
  <link type='text/css' rel='stylesheet' href='/stylesheets/pages/auth.css'>
</head>
<body>
  <% include ../partials/navigation %>
  <% include ../partials/menu %>
  <main>
  <% if (Object.keys(message).length) { %>
    <section
      class='message-section'
    >
      <p
        class='error-message'
      >
        <%= message.error %>
      </p>
    </section>
  <% } %>
    <section 
      class='container'
    >
      <h2>
        Login
      </h2>
      <form
        action='/login'
        method='POST'
      >
        <input 
          class='input-normal'
          type='text'
          name='username'
          placeholder='Username'
          autocomplete='username'
          autofocus
          required
        />
        <input 
          class='input-normal'
          type='password'
          name='password'
          placeholder='Password'
          autocomplete='current-password'
          required
        />
        <a
          class='text-button-normal'
          href='\signup'
        >
          Don't have an account? Click here to sign up
        </a>
        <input 
          class='button-normal'
          type='submit'
          value='Done'
        />
      </form>
    </section> 
  </main>
  <script
    src='/scripts/pages/drawermenu.js'
  >
  </script>
  <script
    async
    defer
    src='/scripts/pages/auth.js'
  >
  </script>
</body>