<% include ../partials/header %>
  <link type='text/css' rel='stylesheet' href='/stylesheets/login.css'>
</head>
<body>
  <main>
    <section
      class='message'
    >
      <p>
        <%= message %>
      </p>
    </section>
    <section 
      class='container'
    >
      <h2>
        Login
      </h2>
      <form
        action='/login'
        method='POST'
      >
        <input 
          class='input-normal'
          type='text'
          placeholder='Username'
        />
        <input 
          class='input-normal'
          type='password'
          placeholder='Password'
        />
        <input 
          class='button-normal'
          type='submit'
          value='Done'
        />
      </form>
    </section> 
  </main>
</body>