<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>MyStudySpace</title>
</head>
<body>
  <main>
    <section>
      <p>
        Adding a new studyspace will happen here...
      </p>
      <a
        href='/studyspaces'
      >
        Done
      </a>
    </section>
  </main>
</body>
</html>