<% include ../partials/header %>
</head>
<body>
  <main>
    <section>
      <p>
        Adding a new studyspace will happen here...
      </p>
      <a
        class='button-normal'
        href='/studyspaces'
      >
        Done
      </a>
    </section>
  </main>
</body>
</html>