<% include ../partials/header %>
</head>
<body>
  <section
    class='spinner'
  >
    <section
      class='logo'
    >
      MyStudySpace
    </section>
  </section>
  <main>
    <% include ../partials/navigation %>
    <% include ../partials/menu %>
    <section
      class='container map-display'
    >
    </section>
    <p
      class='lat'
    >
    <% if (lat) { %>
      <%= lat %>
    <% } %>
    </p>
    <p
      class='lng'
    >
    <% if (lng) { %>
      <%= lng %>
    <% } %>
    </p>
  </main>
  <script
    src='/scripts/pages/drawermenu.js'
  >
  </script>
  <script 
    async 
    defer 
    src='https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_MAPS_API_KEY%>&libraries=places'
  >
  </script>
  <script
    async
    defer
    src='/scripts/pages/new.js'
  >
  </script>
</body>
</html>