<% include ../partials/header %>
  <link type='text/css' rel='stylesheet' href='/stylesheets/new.css'>
</head>
<body>
  <main>
    <nav>
      <a 
        href='/'
      >
        MyStudySpace
      </a>
      <section>
        <form
          id='form'
          action='/studyspaces'
          method='POST'
        >
          <input 
            id='input'
            type='text' 
            placeholder='Search here...' 
            name='place' 
          />
          <input 
            type='submit' 
            value='Search' 
          />
        </form>
      </section>
    </nav>
    <section
      class='map-display'
    >
    </section>
    <section
      class='info'
    >
      <p>
        The map shows studyspaces near you. You can also search for a place you know in the search field above.
      </p>
    </section>
  </main>
  <script 
    async 
    defer 
    src='https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_MAPS_API_KEY%>&libraries=places'
  >
  </script>
  <script 
    src='/scripts/pages/new.js'
  >
  </script>
</body>
</html>