<% include ../partials/header %>
</head>
<body>
  <main>
    <% include ../partials/navigation %>
    <section
      class='map-display'
    >
    </section>
  </main>
  <script 
    async 
    defer 
    src='https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_MAPS_API_KEY%>&libraries=places'
  >
  </script>
  <script 
    src='/scripts/pages/newcurrent.js'
  >
  </script>
</body>
</html>