<% include ../partials/header %>
  <link type='text/css' rel='stylesheet' href='/stylesheets/auth.css'>
</head>
<body>
  <main>
  <% if (Object.keys(message).length) { %>
    <section
      class='message-section'
    >
      <p
        class='error-message'
      >
      <% if (message.error) { %>
        <%= message.error %>
      <% } else { %>
        <%= message.default %>
      <% } %>
      </p>
    </section>
  <% } %>
    <section 
      class='container'
    >
      <h2>
        Sign Up
      </h2>
      <form
        action='/signup'
        method='POST'
      >
        <input 
          class='input-normal'
          type='text'
          name='username'
          placeholder='Username'
          autocomplete='username'
          autofocus
          required
        />
        <input 
          class='input-normal'
          type='password'
          name='password'
          placeholder='Password'
          autocomplete='new-password'
          required
        />
        <input 
          class='button-normal'
          type='submit'
          value='Done'
        />
      </form>
    </section> 
  </main>
  <script
    async
    defer
    src='/scripts/pages/auth.js'
  >
  </script>
</body>