<% include ../partials/header %>
  <link type='text/css' rel='stylesheet' href='/stylesheets/signup.css'>
</head>
<body>
  <main>
    <section 
      class='container'
    >
      <h2>
        Sign Up
      </h2>
      <form
        action='/signup'
        method='POST'
      >
        <input 
          class='input-normal'
          type='text'
          name='username'
          placeholder='Username'
        />
        <input 
          class='input-normal'
          type='password'
          name='password'
          placeholder='Password'
        />
        <input 
          class='button-normal'
          type='submit'
          value='Done'
        />
      </form>
    </section> 
  </main>
</body>